
body{
  color: black;

}

#page-title{
  font-size: 60pt;
  font-weight: bold;
  text-shadow: 2px 2px 4px red;

}


.nav-tabs > li > a {
  color: black!important;
}

.nav-tabs > li > a:hover {
  border: thin solid black;
}

.btn-default{
  border: thin solid black!important;
}

.nav-tabs{
  border-bottom: thin solid black;
}

h1 {

}

#leftCol{

}

input{
  border: thin solid black;
}


h3 {
  /*text-shadow: 2px 2px 5px red;*/
  color: red;
    text-shadow: 2px 2px 4px #000000;

}
h2   {
  padding-top: 10px;
  text-align: center;
  /*text-shadow: 2px 2px 5px red;*/
  color: red;
    text-shadow: 2px 2px 4px #000000;



}

#marPhotosLogo {
  text-shadow: 2px 2px 4px #000000;

}

#roverInfoText  {
  padding-top: 30px;
  text-align: left;
}
#roverText  {
  color: black;
  text-align: justify;
}
#img  img{
  border-radius: 5px;
  border: 2px solid black;
  /*background: #73AD21;*/
  /*background-color: rgba(255, 0, 0, 0.3);
  padding: 5px;*/
  margin-left: 30px;
  width: 200px;
}

#redMars {
  color: red;
  opacity: 0.8;
}

#status {
  display: block;
  float: right;
  position: relative;
  background-color: #000000;

}

#banner{
  height: 125px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

#background{
  background-image: url("http://i.imgur.com/hcHutSn.jpg");
  background-size: cover;
  display: block;
  -webkit-filter: opacity(50%) blur(1px);
  filter: opacity(50%) blur(1px);
  height: 1500px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

#content {
  top: 10px;
  left: 0;
  position: relative;;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
}


#marsSpin  {
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  border-radius: 50%;
}

#roverGallery {

  width: 600px;
  height: 200px;
  background-image: url('http://i.imgur.com/ioEKVuX.jpg');
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px red;
  z-index: -1;
}
#profileName {

}

#roverFamily {
  margin-top: 30px;
  margin-left: 350px;
  float: right;
  border: 2px solid black;
  width: 450px;
  height: 300px;
}

#mars_2  {

  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url('http://i.imgur.com/M9imvKRb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

height: 3px;{
  color: rgba(255, 0, 0, 0.3);
}



ul.a {
    list-style-type: square;
}

ul{
  list-style: circle;
}
